#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url('../img/alarm_clock.png') no-repeat;
    background-size: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}
#hour,
#minute,
#second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}
 
#hour {
    width: 1.8%;
    height: 16%;
    top: 40%;
    left: 48.85%;
    background: black;
}
 
#minute {
    width: 1.6%;
    height: 25%;
    top: 31%;
    left: 48.9%;
    background: black;
}
 
#second {
    width: 0.7%;
    height: 31%;
    top: 25%;
    left: 49.60%;
    background: rgb(252, 3, 3);
}

/* alarm css */
.setAlarm{
    width: 70%;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px 50px;
    
}
.alarm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.setAlarm-left input{
    font-size: 15px;
    margin-left: 15px;
    padding: 10px 25px;

}
#setAlarm-ampm{
    font-size: 15px;
    margin-left: 15px;
    padding: 10px 25px;
}
.setAlarm-right button{
    font-size: 20px;
    background-color: rgb(17, 107, 196);
    border: none;
    margin-left: 15px;
    border-radius: 50px;
    padding: 10px 25px;   
}
.setAlarm-delete-left{
    text-align: center;
    font-size: 25px;
}
.setAlarm-list{
    justify-content: center;
}
.parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.current-time-alarm-right button{
    background-color: rgb(255, 242, 0);
    border: none;
    padding: 5px 5px;
    color: blue;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 10px;
}
